@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ff7700;
  --color2: #F4F7FC;
  --color3: #0582f0;

  --mediumFontSize: 1.3rem;

}

*,
*::before,
*::after {
  border: 1px solid red !important;
}


label {
  font-size: var(--mediumFontSize);
  font-weight: bold;
}

input,
textarea {
  padding: 1rem;
  background-color: var(--color2);
  border-radius: .2rem;
  border: 1px solid #ddd;
}

input:focus,
textarea:focus {
  background-color: #fff;
  outline: none;
}


button {
  cursor: pointer;
  padding: .5rem 1rem;
  background-color: aliceblue;
  transition: background-color 400ms;
}

button:hover {
  background-color: hsl(208, 100%, 90%);
}


svg {
  width: 1rem;
  aspect-ratio: 1/1;
}